#markerFinder {
    width: 35%;
    height: 100vh;
    position: fixed;
    padding: 10px 20px;
    overflow-y: scroll;
    padding-top: 5vh;
    user-select: none;
    right: 0;
    top: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#marker {
    letter-spacing: 6px;
    font-size: 30px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    align-items: center;
    margin: 20px auto;
    padding: 5px 6px;
    font-family: 'Dancing Script', cursive;
    border: none;
}

#marker hr {
    width: 80%;
    margin: 10px auto;
}

.markercurrent {
    list-style: none;
    width: 80%;
    margin: auto auto;
    height: max-content;
    max-height: 520px;
    overflow-y: scroll;
    padding: 5px 6px;
    border: 1px solid;
}

#markerFinder h3 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
}

.markercurrent li {
    margin: 5px auto;
    font-size: 15px;
    padding: 10px 12px;
    letter-spacing: 1px;
    height: max-content;
    border: 1px dashed #fff;
}

.functions {
    float: right;
    width: max-content;
    margin-right: 40px;
}

.functions span {
    width: max-content;
    height: max-content;
    margin: auto 5px;
    cursor: pointer;
}

.functions span img {
    width: 20px;
    height: 20px;
}

#closeMarker {
    display: block;
    width: max-content;
    padding: 10px 12px;
    font-size: 10px;
    background-color: #fff;
    color: #000;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 5px auto;
    cursor: pointer;
}